#login {
    height: 10vh;
    max-width: 50%;
    float: right;
}

#login-form {
    float: right;
    width: 40vw;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    position: relative;

}

#login-forms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;

}

#login-forms > input{
    background-color:rgb(238, 238, 238);
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
}




#login-radio {
    width: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.radio-button{
    margin-top: 5px;
    margin-bottom: 5px;
}

#login-button{
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background-color: #33a8b9;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
}
#login-button:hover{
    background-color: #76bfca;
    transition: .5s;
}

.fa-music {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 20px
}

#hamburger{
    display: none;
}

.logout {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;

}


.logout > button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#f6c23e ;
}

.logout > button:hover{
    background-color:#f5d78c ;
    cursor: pointer;
    transition: .5s;

}



#login-form-small{
    display: none;
}


@media (max-width: 900px){

    #login-form-mini{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40vh;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    #login-forms{
        height: 50%;
        width: 70%;
    }
    #login-forms > input{
        padding: 10px;
    }

    #login-form{
        display: none;
    }
 

    #hamburger{
        display: block;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 2.5rem;
    }
}

@media (max-height: 700px){
    #hamburger{
        font-size: 30px;
    }
    #login-form{
        display: none;
    }
    #hamburger{
        display: block;
        margin-top: 0px;
        margin-right: 20px;
        font-size: 2.5rem;
    }

    .fa-music{
        font-size: 30px;
    }

}

@media (max-height: 568px){
    #hamburger{
        font-size: 30px;
        margin-top:10px
    }

    .fa-music{
        font-size: 30px;
        margin-top:13px

    }

}



@media (max-width: 400px){

    .logout > button{
        padding: 5px
    }
}

