.fa-bell{
    font-size: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: blue;
}

.notifications-list-closed{
    display: none;
}

.notifications-list-open{
    display: block;
    position: fixed;
    bottom: 70px;
    right : 20px
}

.new-notifications{

    font-size: 30px;
    position: fixed;
    bottom: 25px;
    right: 5px;
    color: crimson;

}

.no-notifications{
    display: none;
}

