.TopBar{
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0px;
    background-color: #4e73df;
    color: whitesmoke;
}

.TopBar h1{
    color: whitesmoke;
}



.main-title{
    position: absolute;
    top: 15px;
    left: 100px;
}

@media (max-height: 700px){
    .main-title{
        position: absolute;
        top: 10px;
        left: 100px;
    }

}

@media (max-height: 568px){
    .main-title{
        position: absolute;
        top: 10px;
        left: 85px;
        font-size: 25px;
    }
}

@media (max-width: 400px){
    .TopBar h1{
        font-size: 25px;
    }
}


