.TopBar{
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0px;
    background-color: #4e73df;
    color: whitesmoke;
    z-index: 1000;
}

.TopBar h1{
    color: whitesmoke;
}

.fa-music{
    position: absolute;
    top: 0px;
}


.main-title{
    position: absolute;
    top: 15px;
    left: 100px;
}

@media (max-height: 700px){
    .main-title{
        position: absolute;
        top: 10px;
        left: 100px;
        
    }
    .fa-music{
        position: absolute;
        top:10px
    }

}

@media (max-height: 568px){
    .main-title{
        position: absolute;
        top: 10px;
        left: 85px;
        font-size: 25px;
    }
    .fa-music{
        position: absolute;
        top:-5px
    }
}

@media (max-width: 400px){
    .TopBar h1{
        font-size: 20px;
    }
}


