.TeacherProfile{
    height: 70vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: black solid 2px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(207, 207, 207);
}

.teacher-profile-image{
    margin-left: auto;
    margin-right: 150px;
}

.teacher-profile-info {
    box-sizing: border-box;
    font-size: large;
    align-items: baseline;
    margin-top: -250px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
}
