.NewPracticeLog{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    height: 50vh;

}




.new-log-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    width: 20vw;
    border: black solid 2px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(189, 189, 189);

}

.new-log-form {
    padding-left: 60px;
    padding-right: 60px;
}

.new-log-form input {
    padding:5px;
    border-radius: 10px;
}
.new-log-form textarea {
    padding:5px;
    border-radius: 10px;
}

.submit-practice-log{
    height: 50px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #36b9cc;
    border-radius: 5px;
    padding: px;
    color: whitesmoke;

}

.submit-practice-log:hover{
    background-color: #1cc88a;
    cursor: pointer;
    transition: .4s;

}
