.StudentLogs {
    margin-left: 5vw;
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.leftStudentLogContainer{
    margin-top: -80px;
    text-align: center;
    width: 40%;
}

.practice-logs-students-title{
    width: 100%;
    margin-left: 0px;
}