.student-selector-assignments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    border: solid black 2px;

}

.student-selector-assignments-name{
    height: 40%;
    overflow-y: scroll;

}

.current-students-assignments {

}