.student-selector-assignments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    border: solid black 2px;

}


.current-students-assignments {

}