

.new-assignment-form-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    
}

.new-assignment-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
}