
.teacher-assignments-title{
    margin-left: 5vw;
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.teacher-assignments{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height:80vh ;

}

.student-selector-assignments-name{
    text-align: center;
    max-width: 100%;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
}