.TeacherHomePage{
    margin-left: 10vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.teacherHP-box-1{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 35vh;


}

.teacherHP-box-2{
    margin-top: 20px;
    display:flex;
    height: 45vh;
    overflow: hidden;
    justify-content: space-evenly;
    
}