.TeacherHomePage{
    margin-left: 5vw;
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.TeacherHomePage > h1{
    text-align: center;
}

.teacherHP-box-1{
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
}

.teacherHP-box-2{
    margin-top: 20px;
    display:flex;
    height: 45vh;
    overflow: hidden;
    justify-content: space-evenly;
    
}

.weekly-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.weekly-data > p{
    border: solid black 2px;
    padding: 10px;
    font-size: large;
    border-radius: 12px;

}