.newly-submitted-payments-container{
    width: 40%;
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.newly-submitted-payments{
    height: 42vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

}

.newly-submitted-payments-container > h3 {
    margin-top: 20px;
    width: 80%;


}

.payment-block{
    border: black solid 2px;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
    height: 10vh;
}

@media (max-width: 1000px){

    .newly-submitted-payments-container{
        width: 90%;
        margin-top: 20px;
        padding-bottom: 10px;
    }






}
