.teacher-new-logs{
    overflow-y: scroll;
    width: 40%;
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-new-logs-container{
    width: 80%;
    align-items: center;
    height: 40vh;
    overflow: scroll;
    border: rgba(128, 128, 128, 0.5) solid 2px ;
    border-radius: 10px;
    padding: 10px;
}

.teacher-new-logs > h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


@media (max-width: 1000px){

    .teacher-new-logs{
        width: 90%;
        padding-bottom: 10px;
    }

    .teacher-new-logs > h3 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }



}