.calendar-container{
    width: 45vw;
    height: 80vh;

}

.calendar-container .fc-unthemed{
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    margin-right: 50px;
    float: right;
}

.edit-lesson-modal{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.edit-lesson-modal input {
    margin-bottom: 10px;
}

.edit-lesson-modal button{
    margin-top: 10px;
}

.new-lesson-modal{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.new-lesson-modal input {
    margin-bottom: 10px;
}

.new-lesson-modal button{
    margin-top: 10px;
}