.teacher-agenda-container-calendar{
    width: 30%;
    margin-top: 0px;
    margin-left: 50px;
    margin-top: 100px;
    border: rgba(128, 128, 128, 0.5) solid 2px ;
    border-radius: 10px;

    padding: 15px;
    max-height: 80%;

}

.lesson-blocks-calendar{
    overflow-y: scroll;
    width: 100%;
    padding: 10px


}