.paymentpagebuttonback{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: red;
    color: white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.checkout{
    padding: 10px;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    height: 20vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.paymentpagebuttonback:hover{
    background-color: rgb(179, 0, 0);
    cursor: pointer;
    transition: .5s;
}

.paymentpagebuttonsubmit{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #1cc88a;
    color: white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.paymentpagebuttonsubmit:hover{
    background-color: #18996a;
    cursor: pointer;
    transition: .5s;
}