.unpaid-payment-block-teacher{
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin-top:10px;
    width: 80%;
    box-shadow: 5px 5px 5px grey;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

.unpaid-payment-block-teacher-info{
    display: flex;
    justify-content: space-evenly;
}

.unpaid-payment-block-teacher-info-div1{
    margin-right: 20px;
}

.unpaid-payment-block-teacher-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 5px ;
}

.unpaid-payment-block-teacher-buttons > button {
    background-color: red;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.unpaid-payment-block-teacher-buttons-edit{
    background-color: #4e73df;
    color: white;

    border:none;
    border-radius: 5px;
    cursor: pointer;

}

.unpaidpaymentstudent{
    border: none;
    border-radius: 5px ;
    background-color: #4e73df;
    color: white;
    padding: 5px
}

.unpaidpaymentstudent:hover{
    background-color: #1cc88a;
    cursor: pointer;
    transition: .5s;
}



@media (max-width: 800px){

    .unpaid-payment-block-teacher{
        width: 90%;
    }






}