.student-homepage{
    margin-left: 5vw;
    margin-top: 10vh;

}

.box-1{
display: flex
}

.student-hp-date{
    margin-left: 425px;
}

.student-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: visible;
    height: 40vh;
    margin-top: 20px;
}


.student-stats > div {
    width: 35vw;
    border: black solid 2px;
    border-radius: 10px;
}

.box-2{
    height: 40vh;
    max-width: 52vw;
    overflow-y: scroll;
    margin-left: 5px;
}
