.assignment-block-detailed{
    border: solid black 2px;
    color: black;
    border-radius: 10px;
    width:100%;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 18vw;
    padding: 15px;
    box-shadow: 5px 5px 5px grey;
    height: 50%;
    overflow-y: scroll;
}

.assignment-block-detailed-span{
    word-wrap:break-word;
}


