.lesson-block{
    border: black solid 2px;
    color: black;
    font-size: 14px;
    max-width: 100%;
    border-radius: 8px;
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 5px 5px 5px grey;
    max-height: 30vh;
    overflow: hidden;

}

.lesson-block > p {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 25px;
}
